<!-- wp:paragraph -->
<p>This accessibility statement applies to the Law Commission website at&nbsp;https://lawcom.gov.uk/</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>This website is run by the Law Commission team.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>use browser settings or plugins to change colours, contrast levels and fonts</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>use browser settings or other software to zoom in up to 400% without the text spilling off the screen</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>navigate most of the website using just a keyboard</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>navigate most of the website using speech recognition software</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>We’ve also made the website text as simple as possible to understand.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>&nbsp;has advice on making your device easier to use if you have a disability.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">How accessible this website is</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>We know some parts of this website are not fully accessible but most people should still be able to use the website fairly easily.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>Some documents are in&nbsp;PDF&nbsp;format and may not be accessible</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Feedback and contact information</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>enquiries@lawcommission.gov.uk</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, contact:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>enquiries@lawcommission.gov.uk</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>We’ll consider your request and get back to you in 5 working days.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Enforcement procedure</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,&nbsp;<a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you live in Northern Ireland, complain to the&nbsp;<a href="https://www.equalityni.org/">Equalities Commission for Northern Ireland (ECNI)</a>.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Technical information about this website’s accessibility</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The Law Commission is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading" id="compliance-status">Compliance status</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>This website is partially compliant with the&nbsp;<a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a>&nbsp;AA standard, due to the non-compliances listed below.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading" id="non-accessible-content">Non-accessible content</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The content listed below is non-accessible for the following reasons.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading" id="non-compliance-with-the-accessibility-regulations">Non-compliance with the accessibility regulations</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Not all videos contain alternative text descriptions of the content being shown.  For instance some videos are of an online presentation, and although there is audio and closed captions available, there is no alternative way to access the content within the presentation slides. This fails WCAG 2.2 success criterion 1.2.3: Audio Description or Media Alternative (Prerecorded).</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Some documents are in non-HTML formats, for example&nbsp;PDF. They may not be accessible in a number of ways including missing text alternatives and missing document structure.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading" id="what-we-re-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The Website Builder team reviews accessibility for all the websites built using the Website Builder platform and we aim to fix any issues we find.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading" id="preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>This statement was prepared on 7th February 2025. It was last reviewed on 7th February 2025. This website was last tested on 5th February 2025.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The test was carried out by the Ministry of Justice Website Builder Team. We carried out a basic review and not a full audit. The system used to produce the site (called ‘Website Builder’) has been audited in the past and all issues found then were fixed.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>We used this approach to decide on a sample of pages to test – we tested all of the most common pages:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>the home page</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>the template used for all the pages</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>a navigation index page</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>a sample of 3 standard pages</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->