<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"fontSize":"huge"} -->
<h2 class="wp-block-heading has-huge-font-size"><strong>Reforming the law</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The Law Commission is an independent organisation. We were created in 1965 to keep the law of England and Wales under review and recommend reform where needed.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Find out more <a href="https://lawcom.gov.uk/about-us/">about us.</a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":"top"} -->
<div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"100%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:100%"><!-- wp:group {"className":"is-style-bleeding-background","backgroundColor":"generic-palette-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bleeding-background has-generic-palette-1-background-color has-background"><!-- wp:spacer {"height":"10px"} -->
<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"huge"} -->
<h2 class="wp-block-heading has-text-align-center has-huge-font-size">Current projects</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"10px"} -->
<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:media-text {"mediaId":1864,"mediaLink":"https://lawcom.gov.uk/sample-page/people-coffee-meeting-team-7096/","mediaType":"image","mediaSizeSlug":"full","backgroundColor":"white"} -->
<div class="wp-block-media-text is-stacked-on-mobile has-white-background-color has-background"><figure class="wp-block-media-text__media"><img src="https://cloud-platform-e218f50a4812967ba1215eaecede923f.s3.amazonaws.com/uploads/sites/54/2025/01/people-coffee-meeting-team-7096-scaled.jpg" alt="" class="wp-image-1864 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:paragraph {"placeholder":"Content…"} -->
<p>Our law reform work focuses on changes that deliver real benefits to people, organisations and institutions.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Take a look at the wide range of <a href="https://lawcom.gov.uk/current-projects/" data-type="page" data-id="45">projects we're working on currently</a>.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":3,"className":"is-style-wide","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left is-style-wide has-medium-font-size">Latest projects</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:mojblocks/featured-item {"featuredItemHasDate":false,"featuredItemHasBar":false,"featuredItemID":"1441","featuredItemType":"project","featuredImage":false,"featuredCustomImage":"https://cloud-platform-e218f50a4812967ba1215eaecede923f.s3.amazonaws.com/uploads/sites/54/2025/04/air-traffic-control-1024x680.jpg","featuredLinkText":"View project"} -->
<!-- wp:heading {"placeholder":"Add featured item section title"} -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading -->
<!-- /wp:mojblocks/featured-item --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:mojblocks/featured-item {"featuredItemHasDate":false,"featuredItemHasBar":false,"featuredItemID":"1431","featuredItemType":"project","featuredLinkText":"View project"} -->
<!-- wp:heading {"placeholder":"Add featured item section title"} -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading -->
<!-- /wp:mojblocks/featured-item --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:mojblocks/featured-item {"featuredItemHasDate":false,"featuredItemHasBar":false,"featuredItemID":"1272","featuredItemType":"project","featuredLinkText":"View project"} -->
<!-- wp:heading {"placeholder":"Add featured item section title"} -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading -->
<!-- /wp:mojblocks/featured-item --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://lawcom.gov.uk/projects/">View all projects</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"className":"is-style-bleeding-background","backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bleeding-background has-white-background-color has-background"><!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","className":"is-style-wide","fontSize":"huge"} -->
<h2 class="wp-block-heading has-text-align-center is-style-wide has-huge-font-size">News</h2>
<!-- /wp:heading -->

<!-- wp:mojblocks/featured-item {"featuredItemID":"3069","featuredItemType":"news","featuredCustomImage":null,"className":"is-style-image-left"} -->
<!-- wp:heading {"level":3,"placeholder":"Add featured item section title","fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">Featured news</h3>
<!-- /wp:heading -->
<!-- /wp:mojblocks/featured-item -->

<!-- wp:mojblocks/latest-news -->
<!-- wp:heading {"level":3,"placeholder":"Add latest news section title","fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">Latest news</h3>
<!-- /wp:heading -->
<!-- /wp:mojblocks/latest-news -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://lawcom.gov.uk/news/">View all news</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-bleeding-background","backgroundColor":"generic-palette-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bleeding-background has-generic-palette-1-background-color has-background"><!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","className":"is-style-wide","fontSize":"huge"} -->
<h2 class="wp-block-heading has-text-align-center is-style-wide has-huge-font-size">Careers at the Law Commission</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:media-text {"mediaPosition":"right","mediaId":528,"mediaLink":"https://lawcom.gov.uk/sample-page/thomas-lefebvre-gp8blyataa0-unsplash/","mediaType":"image","backgroundColor":"white"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile has-white-background-color has-background"><div class="wp-block-media-text__content"><!-- wp:paragraph {"placeholder":"Content…"} -->
<p>We offer a range of opportunities and particularly welcome applications from under-represented groups in the legal sector<em>.</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Read more about <a href="https://lawcom.gov.uk/careers/">working at the Law Commission</a>.</p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"><img src="https://cloud-platform-e218f50a4812967ba1215eaecede923f.s3.amazonaws.com/uploads/sites/54/2024/11/thomas-lefebvre-gp8BLyaTaA0-unsplash-1024x683.jpg" alt="" class="wp-image-528 size-full"/></figure></div>
<!-- /wp:media-text -->

<!-- wp:spacer {"height":"0px"} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"80px"} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-bleeding-background","backgroundColor":"generic-palette-3","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bleeding-background has-generic-palette-3-background-color has-background"><!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-center has-large-font-size">Tell us your ideas for law reform</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">We are keen to hear proposals for where the law could be improved.<br>Find out <a href="https://lawcom.gov.uk/ideas_for_law_reform/">how to share your law reform idea.</a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->