
@import "../../node_modules/govuk-frontend/govuk/base";
@import "../../node_modules/govuk-frontend/govuk/core/typography";
@import '../../node_modules/govuk-frontend/govuk/components/notification-banner/notification-banner';
@import '../../node_modules/govuk-frontend/govuk/components/label/label';
@import '../../node_modules/govuk-frontend/govuk/components/input/input';
@import '../../node_modules/govuk-frontend/govuk/components/button/button';


#login h1 a,
.login h1 a {
    background-image: none;
    text-indent: 0;
    font-size: 28px;
    font-weight: 600;
    width:auto;
    height:auto;
}

#login {
    .govuk-notification-banner__content {
        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    #login_error {
        @extend .govuk-body;
    }

    form {
        label {
            @extend .govuk-label;

        }

        input[type="text"], input[type="password"]{
            @extend .govuk-input;
        }

        input[type="submit"]{
            @extend .govuk-button;
            width:100%;
            margin-bottom: 0;
        }

        .button:not(.wp-hide-pw){
            @extend .govuk-button;
            width:100%;
            margin-bottom: 10px;
        }

        .forgetmenot {

            float: none;
            margin-bottom: 10px;;
            label {
                display: inline-block;
            }
        }

        &.admin-email-confirm-form {

            input[type="submit"],
            .button:not(.wp-hide-pw)
            {

                @include govuk-media-query($from: tablet) {
                    width:49%;
                }
            }

        }
    }
}
